# this is used by worker/ (its docker build context is `../`) , which uses worker/ and web/ only
*
!worker/
!web/

**/*~
**/.#*

# web/ ignores
web/.cashe
web/.cache
web/cover/
web/coverage.xml
web/nosetests.xml
web/nosetests2.xml

# worker/ ignores
worker/dmake.yml
worker/.dmake/
worker/.dockerignore
worker/deploy/worker/build/Dockerfile
worker/bin/
